body{

    display: flex;
    flex-direction: column  ;
    text-align: center;
    background-image: url(calculator_backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.content{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 10px;
}

h2{
    font-size: xx-large;
}

.btn{

    background-color: rgba(255, 166, 0, 0.5);
    height: 5dvh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    border-radius: 10px;
    
}